<div class="container">
    <h1>@ViewData["Header"]</h1> 
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">@ViewData["Title"]</th>
                <th scope="col">@ViewData["Title2"]</th>
                <th scope="col">@ViewData["Title3"]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>@ViewData["Name"]</td>
                <td>@ViewData["Category"]</td>
                <td>@ViewData["Price"]</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>@ViewData["Name2"]</td>
                <td>@ViewData["Category2"]</td>
                <td>@ViewData["Price2"]</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>@ViewData["Name3"]</td>
                <td>@ViewData["Category3"]</td>
                <td>@ViewData["Price3"]</td>
            </tr>
        </tbody>
    </table>
   

</div>

